@font-face {
  font-family: "GT America";
  src: url("../fonts/GT\ America\ Bold.ttf") format("truetype"),
    url("../fonts/GT\ America\ Bold\ Italic.ttf") format("truetype"),
    url("../fonts/GT\ America\ Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Orpheus Pro";
  src: url("../fonts/Orpheus\ Pro\ Regular.otf") format("opentype"),
    url("../fonts/OrpheusPro\ Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
}

body {
    font-family: "GT America", sans serif;
}