* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
}
body {
  background-color: #60a631;
}

/* Стилі текстів */
h1 {
  font-size: 45px;
  color: #262626;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
}
p {
  padding: 20px;
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color:rgba(255, 255, 255, 0.5);

}
/* На головну */
.den-content-bottom-info__link:hover {
  background-color: #233f1f;
}
.den-content-bottom-info__link:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
/* Картинки */
.arrow-down {
  margin: 30px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.arrow-down span {
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #337ab7;
  border-right: 5px solid #337ab7;
  transform: rotate(45deg);
  margin: -16px;
  animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.wrapper {
  display: flex;
  /* width: 1220px;
      height: 800px; */
  width: 100%;
  justify-content: center;
  margin-top: 55px;
}

.wrapper__card {
  display: flex;
  width: 295px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  /* border: 1px solid #fff; */
  
}

@media (max-width: 910px) {
  .wrapper__card {
    width: 230px;
  }
}

@media (max-width: 900px) {
  .wrapper__card {
    width: 230px;
  }
}
@media (max-width: 768px) {
  .wrapper__card {
    width: 158px;
  }
}

@media (max-width: 500px) {
  .wrapper__card {
    width: 105px;
  }
}

.wrapper__front,
.back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #60a631;
}
.wrapper__front img {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
}
.wrapper__card:hover .front {
  transform: rotateY(180deg);
}
.wrapper__card:hover .back {
  transform: rotateY(360deg);
}
.content-bottom-info__link {
	height: 44px;
	display: inline-block;
	line-height: 44px;
	padding: 0px 30px;
	border-radius: 24px;
	background-color:#4e925f;
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	text-decoration: none;
  margin: 20px;
}
.content-bottom-info__link span{
	padding: 0px;

}
.content-bottom-info__link:hover{
	background-color:#233f1f;
}
.content-bottom-info__link:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}
/* Footer */
footer {
  color: black;
  border: solid #e698d3;
  background-color: #60a631;
  width: 100%;
  text-align: center;

  /* margin-bottom: 20px; */
}
