* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 2px solid red; */
}
.header__title {
  font-family: "Alegreya", serif;
  font-size: 55px;
  color: #fff;
}
.header__subtitle {
  font-family: "Vollkorn", serif;
  font-size: 30px;
}
body {
  background-color: #60a631;
  margin-left: 5%;
  margin-right: 10%;
}

.header__subtitle {
  margin-bottom: 20px;
}

.header__info {
  font-family: "Vollkorn", serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.imagefood {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fff;
  margin-bottom: 20px;
}
.main-content__list {
  margin-left: 30px;
}

.list-product {
  padding: 10px;
  font-family: "Vollkorn", serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
  border: 2px solid #fff;
}
.list-product:hover {
  background-color: #fff;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 783px) {
  .imagefood {
    width: 494px;
    height: 298px;
  }
}
